.container-detail-puisi{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.container-detail-puisi .content-detail-puisi {

    position: relative;
    width: 70%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(227, 224, 224, 0.7);
    padding: 20px;
    padding-bottom: 120px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    z-index: 1;
}